.switch {
  width: rem(60);
  height: rem(30);
  border-radius: rem(15);
  background-color: $white;
  position: relative;
  border: 1px solid $gray;
  cursor: pointer;

  &__on,
  &__off {
    opacity: 0;
    pointer-events: none;
  }

  &__off {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: rem(24);
    height: rem(24);
    border-radius: 100%;
    background-color: $gray;
    left: rem(2);
    top: rem(2);
    transition: transform 0.2s ease-in-out;
    will-change: transform;
  }

  &--active {
    border: 1px solid $primary;

    &.switch {
      &::before {
        background-color: $primary;
        transform: translateX(#{rem(30)});
      }
    }

    .switch__on {
      display: none;
    }

    .switch__off {
      display: block;
    }
  }
}
