@import 'header-variables';

.header {
  background-color: $header-bg;
  position: relative;
  padding: 0 $container-padding;
  height: rem(50);
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;

    @include large {
      overflow: visible;
      position: static;
    }

    &Items {
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      background-color: $header-bg;
      padding: $container-padding;

      @include large {
        padding: 0;
        display: flex;
        height: 100%;
        transform: none;
        background-color: transparent;
      }
    }

    &Item {
      @include large {
        display: flex;
        align-items: center;
        position: relative;
        transition: color 0.3s ease-in-out;
      }

      &:not(:first-child) {
        margin-top: rem(10);

        @include large {
          margin-top: 0;
          margin-left: rem(10);
        }
      }

      &:hover,
      &--active {

        .header__menuItemButton {
          color: $white;
        }
      }

      &Sub {
        overflow: hidden;

        @include large {
          min-width: rem(150);
          position: absolute;
          top: 100%;
          right: 0;
          pointer-events: none;

          .header__menuItemSubContainer {
            color: $black;
            padding: rem(15);
            transform: translateY(-100%);
            background-color: $white;
            border: 1px solid $gray;
            transition: transform 0.3s ease-in-out;
          }

          .header__menuItemSubItem {
            &:not(:first-child) {
              margin-top: rem(10);
            }
          }
        }
      }

      @include large {
        &:hover .header__menuItemSub {
          pointer-events: all;

          &Container {
            transform: none;
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;

    @include large {
      display: none;
    }

    &--close {
      display: none;
    }
  }

  &--open {
    .header {
      &__menuItems {
        transform: none;
      }

      &__toggle--open {
        display: none;
      }

      &__toggle--close {
        display: block;
      }
    }
  }
}
