@mixin columns($screen) {

  .col-equal#{$screen} {
    flex: 1 1 0;
  }

  .col-auto#{$screen} {
    flex: 0 0 auto;
  }

  .col#{$screen}-normal {
    flex: 0 1 0;
  }

  // size of cols
  @for $i from 1 through $cols {
    .col#{$screen}-#{$i} {
      width: calc(#{100% / $cols * $i} - #{$col-spacing});
    }
  }

  // offset cols
  @for $i from 0 through $cols - 1 {
    .col-left#{$screen}-#{$i} {
      margin-left: #{100% / $cols * $i};
    }
  }
}
