@mixin columns($screen) {

  .col-equal#{$screen} {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .col-auto#{$screen} {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .col#{$screen}-normal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
  }

  // size of cols
  @for $i from 1 through $cols {
    .col#{$screen}-#{$i} {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(#{100% / $cols * $i} - #{$col-spacing});
    }
  }

  // offset cols
  @for $i from 0 through $cols - 1 {
    .col-left#{$screen}-#{$i} {
      margin-left: #{100% / $cols * $i};
    }
  }
}
