* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  appearance: none;
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.keyboard {

  button,
  input,
  textarea {
    &:focus {
      box-shadow: inset 0 0 3px rgba(#000, 0.3);
    }
  }
}
