/**
  * reset
*/

* {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

button,
input,
textarea {
  &:focus-visible {
    box-shadow: $focus;
  }
}

