// breakpoints
$s: 768px !default;
$m: 992px !default;
$l: 1200px !default;

// container sizes
$s-width: 720px !default;
$m-width: 960px !default;
$l-width: 1140px !default;

// screens array
$screens: (('', '', ''),
  ('-s', $s, $s-width),
  ('-m', $m, $m-width),
  ('-l', $l, $l-width)) !default;

$container-padding: 15px !default;
