/*****
  * Define utilities and settings
*****/

// spacing
$spacing: true !default;
$spacing-step: 4 !default;
$spacing-max: 15 !default;

// display
$display: true !default;

// display
$flex: true !default;

// display
$colors: true !default;

// display
$texts: true !default;
