@mixin spacing($screen) {
  @for $i from 1 through $spacing-max {

    // margin
    .ma#{$screen}-#{$i} {
      margin: #{$i * $spacing-step}px;
    }

    .my#{$screen}-#{$i} {
      margin-top: #{$i * $spacing-step}px;
      margin-bottom: #{$i * $spacing-step}px;
    }

    .mx#{$screen}-#{$i} {
      margin-right: #{$i * $spacing-step}px;
      margin-left: #{$i * $spacing-step}px;
    }

    .mt#{$screen}-#{$i} {
      margin-top: #{$i * $spacing-step}px;
    }

    .mr#{$screen}-#{$i} {
      margin-right: #{$i * $spacing-step}px;
    }

    .mb#{$screen}-#{$i} {
      margin-bottom: #{$i * $spacing-step}px;
    }

    .ml#{$screen}-#{$i} {
      margin-left: #{$i * $spacing-step}px;
    }

    // padding
    .pa#{$screen}-#{$i} {
      padding: #{$i * $spacing-step}px;
    }

    .py#{$screen}-#{$i} {
      padding-top: #{$i * $spacing-step}px;
      padding-bottom: #{$i * $spacing-step}px;
    }

    .px#{$screen}-#{$i} {
      padding-right: #{$i * $spacing-step}px;
      padding-left: #{$i * $spacing-step}px;
    }

    .pt#{$screen}-#{$i} {
      padding-top: #{$i * $spacing-step}px;
    }

    .pr#{$screen}-#{$i} {
      padding-right: #{$i * $spacing-step}px;
    }

    .pb#{$screen}-#{$i} {
      padding-bottom: #{$i * $spacing-step}px;
    }

    .pl#{$screen}-#{$i} {
      padding-left: #{$i * $spacing-step}px;
    }
  }
}

@mixin display($screen) {
  .d#{$screen}-block {
    display: block;
  }

  .d#{$screen}-flex {
    display: flex;
  }

  .d#{$screen}-inline {
    display: inline;
  }

  .d#{$screen}-inline-block {
    display: inline-block;
  }

  .d#{$screen}-inline-flex {
    display: inline-flex;
  }

  .d#{$screen}-none {
    display: none;
  }
}

@mixin flex($screen) {

  // flex-direction
  .flex#{$screen}-column {
    flex-direction: column;
  }

  .flex#{$screen}-column-reverse {
    flex-direction: column-reverse;
  }

  .flex#{$screen}-row {
    flex-direction: row;
  }

  .flex#{$screen}-row-reverse {
    flex-direction: row-reverse;
  }

  // flex-wrap
  .flex#{$screen}-nowrap {
    flex-wrap: nowrap;
  }

  .flex#{$screen}-wrap {
    flex-wrap: wrap;
  }

  .flex#{$screen}-wrapreverse {
    flex-wrap: wrap-reverse;
  }

  // justify-content
  .justify-content#{$screen}-start {
    justify-content: flex-start;
  }

  .justify-content#{$screen}-center {
    justify-content: center;
  }

  .justify-content#{$screen}-end {
    justify-content: flex-end;
  }

  .justify-content#{$screen}-between {
    justify-content: space-between;
  }

  .justify-content#{$screen}-around {
    justify-content: space-around;
  }

  .justify-content#{$screen}-evenly {
    justify-content: space-evenly;
  }

  // align-items
  .align-items#{$screen}-start {
    align-items: flex-start;
  }

  .align-items#{$screen}-center {
    align-items: center;
  }

  .align-items#{$screen}-end {
    align-items: flex-end;
  }

  .align-items#{$screen}-stretch {
    align-items: stretch;
  }

  // align-self
  .align-self#{$screen}-start {
    align-self: flex-start;
  }

  .align-self#{$screen}-center {
    align-self: center;
  }

  .align-self#{$screen}-end {
    align-self: flex-end;
  }

  .align-self#{$screen}-stretch {
    align-self: stretch;
  }

  // flex fill
  .flex#{$screen}-fill {
    flex: 1 1 0;
  }

  .flex#{$screen}-auto {
    flex: 0 0 auto;
  }

  .flex#{$screen}-normal {
    flex: 0 1 0;
  }
}

@mixin colors($screen) {

  @each $name,
  $value in $colors {
    .text#{$screen}-#{$name} {
      color: $value
    }

    .bg#{$screen}-#{$name} {
      background-color: $value
    }
  }

}

@mixin texts($screen) {

  // text-decoration
  .text-decoration#{$screen}-none {
    text-decoration: none;
  }

  .text-decoration#{$screen}-underline {
    text-decoration: underline;
  }

  // font-weight
  .text#{$screen}-100 {
    font-weight: 100;
  }

  .text#{$screen}-300 {
    font-weight: 300;
  }

  .text#{$screen}-400 {
    font-weight: 400;
  }

  .text#{$screen}-500 {
    font-weight: 500;
  }

  .text#{$screen}-600 {
    font-weight: 600;
  }

  .text#{$screen}-700 {
    font-weight: 700;
  }

  .text#{$screen}-800 {
    font-weight: 800;
  }

  .text#{$screen}-900 {
    font-weight: 900;
  }

  // text-align
  .text#{$screen}-left {
    text-align: left;
  }

  .text#{$screen}-center {
    text-align: center;
  }

  .text#{$screen}-right {
    text-align: right;
  }

  .text#{$screen}-justify {
    text-align: justify;
  }

  // text-transform
  .text#{$screen}-upper {
    text-transform: uppercase;
  }

  .text#{$screen}-lower {
    text-transform: lowercase;
  }

  .text#{$screen}-capitalize {
    text-transform: capitalize;
  }
}
