@import 'custom-range-variables';

.custom-range {
  @mixin thumb {
    appearance: none;
    width: rem(25);
    height: rem(25);
    border: 0;
    border-radius: 100%;
    background-color: $custom-range-cursor-background;
  }

  display: flex;
  align-items: center;

  &__total {
    margin-left: rem(20);
  }

  input {
    background: linear-gradient(to right, $custom-range-plain-bar-background 0%, $custom-range-plain-bar-background 50%, $custom-range-bar-background 50%, $custom-range-bar-background 100%);
    border-radius: rem(10);
    width: 356px;
    -webkit-appearance: none;
     height: rem(20);
     width: $custom-range-width;
     cursor: pointer;

    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      @include thumb;
    }
  }
}
