$custom-range-width: rem(400);
$custom-range-bar-height: rem(5);
$custom-range-bar-background: $gray;
$custom-range-plain-bar-background: $black;
$custom-range-cursor-width: rem(20);
$custom-range-cursor-height: rem(20);
$custom-range-cursor-background: $black;
