.tabs {
  display: inline-flex;
  flex-direction: column;

  &__header {
    display: flex;
    border: 1px solid $tabs-border;
    background-color: $tabs-background;

    &Item {
      padding: $tabs-button-padding;

      &--active {
        background-color: $tabs-button-active-background;
        color: $tabs-button-active-color;
      }
    }
  }

  &__content {
    padding: $tabs-content-padding;
    border-right: 1px solid $tabs-border;
    border-bottom: 1px solid $tabs-border;
    border-left: 1px solid $tabs-border;
  }
}
