@import 'custom-select-variables';

.custom-select {
  width: $custom-select-width;
  height: $custom-select-height;

  &:focus-visible {
    .custom-select__choose {
      box-shadow: $focus;
    }
  }

  select {
    width: $custom-select-width;
    height: $custom-select-height;
    padding: 0 rem(10);
  }

  input {
    border-radius: 0;
    border: 1px solid $custom-select-border-color;
    width: 100%;
    margin-left: $custom-select-margin;
    margin-right: calc(#{$custom-select-margin} * 2 + #{rem(20)});
  }

  &__choose {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $custom-select-border-color;
    cursor: pointer;
    user-select: none;
    position: relative;

    &::after {
      content: '\25BE';
      font-size: rem(20);
      position: absolute;
      right: rem(10);
      pointer-events: none;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__content {
    padding: rem(20);
    border-right: 1px solid $custom-select-border-color;
    border-bottom: 1px solid $custom-select-border-color;
    border-left: 1px solid $custom-select-border-color;
    position: relative;
    z-index: 9;
    max-height: $custom-select-max-height;
    overflow: auto;
    background-color: $custom-select-background;
  }

  &__item {
    cursor: pointer;

    &:not(:first-child) {
      margin-top: rem(10);
    }

    &:focus-visible{
      border: 1px solid $primary;
    }
  }

  &--top {
    .custom-select {
      &__content {
        border-top: 1px solid $custom-select-border-color;
        border-bottom: 0;
      }
    }
  }

  &--open {
    .custom-select {
      &__choose {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
