$custom-select-border-color: $gray;
$custom-select-margin: rem(10);
$custom-select-max-height: rem(100);
$custom-select-width: rem(200);
$custom-select-height: rem(50);
$custom-select-background: $white;
