@import 'accordion-variables';

.accordion {
  width: rem(300);
  border: 1px solid $accordion-border;

  &__item {
    &Button {
      padding: rem(10);
      background-color: $accordion-button-background;
      cursor: pointer;
      position: relative;

      &::after {
        content: '\25BE';
        position: absolute;
        right: rem(5);
        transition: transform 0.3s ease-in-out;
        pointer-events: none;
      }
    }

    &Content {
      padding: rem(10);
    }

    &--open {
      .accordion {
        &__item {
          &Button {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
}
